html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  /*  background: #34495e; */
  height: 100vh;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142.05 259.2"><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M115.66,178.42a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM85,106.62a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm30.47,125.84a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM86.79,248.39a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-80,2.38a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM19.3,199.46a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm58.7-32a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-36.9-1.53a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM79.63,201a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm60.79-110.3a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM52.93,15.78a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM81.16,65.59a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM28.54,112.91a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM122,171.59a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-79.5,46.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm40.06-85.27a.6.6,0,1,0,.6.6.6.6,0,0,0-.6-.6ZM48.1,140.69a.6.6,0,1,0,.6.6.6.6,0,0,0-.6-.6ZM56.33,156a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM34.76,203.62a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM42.17,214a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-15,20.89a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM.3,244.27a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm22-62.4a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM18.66,186a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm79.59-7.39a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM91.5,171a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-29,83.17a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm37.48-9.3a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-28.69-5.7a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM68.4,31.72a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM125,119.09a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-97.2,21.08a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM106.5,199a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm6.75,9.9a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-59.85.6a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm56.91-116.9a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM18.69,168.48a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm63.62-21.42a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM43,26.62a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm.24,34.19a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM17.35,92.25a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM101,46.12a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm26.25-31.5a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm-.39-11.76a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM89.27,6.94a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM13.71,1.7a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm104.4,64.47a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm9.77,157.38a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm-29.63-41a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM14.68,212.4a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM8.93,135.84a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM114.41,56.6a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm20.75-44.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-118.58,78a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm19-82.56a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM2.81,26.71a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM134.39,141.54a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM5.3,210.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm78.17-53a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm37.56,88a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-86.41,1.43a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm39-15.5a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-31.88-163a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM107.24,12.7a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm20.73,51a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM14.35,5.22a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM57.57,12a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM86.49,3.24a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm32.44,15.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm.26-11.81a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm18,65.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-18-22.86a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM83.48,59.1a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm44.41,46.26a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-99.52,11a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM10.09,73.91a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm89.39,44.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm5.78,59.57a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm28.1,17.48a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-33.9,28.28a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm36.91,28.7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM64.26,109.62a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm1.46,3.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-64.87-7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm44,16.79a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM50.7,75.37a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM83.22,85.52a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM94.7,51a.26.26,0,1,0,.26.26A.26.26,0,0,0,94.7,51Zm28.59,5a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm13.59-16.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-17.7-4.41a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-76.6,14.4a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-28.49-8a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm4-22.58a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-8-11.81a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-5.31-4A.26.26,0,1,0,5,3.5a.26.26,0,0,0-.26-.26ZM47.19,96a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm70.54,49.47a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm24.07-61.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM35.66,86.57a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM89.91,36.64a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm51.63-19.35a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-4.14,29.8a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM47.19.75a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM9.58,42.08a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm7.89-18.9a.26.26,0,1,0,.26.26A.26.26,0,0,0,17.46,23.17Z" fill="%23fefefe" fill-rule="evenodd"/><path d="M65,10.54a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm66,229.22a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM115.83,81.52a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm.84,32.92a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM121,208.1a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-93.85-9.9a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM65.83,126a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm66.08,56.49a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-93.15-.15a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM138.83,87.84a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM35.57,1.81a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM83,52.51a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM81.09,73.68a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm32.55,73.76a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM13.81,147a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm0,76.49a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM23.35,58.64a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM114.41,12.7a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM2,40.16a.49.49,0,1,0,.49.49A.49.49,0,0,0,2,40.16Zm49.41,6a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm57,212.11a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM4.81,167.51a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm134,1.92a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM9.32,121.08a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm129.28,7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM8.11,60.56a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM.86,0a.38.38,0,1,0,.38.38A.38.38,0,0,0,.86,0ZM134.77,6.45a.38.38,0,1,0,.38.38.38.38,0,0,0-.38-.38Zm-4.82,36a.38.38,0,1,0,.38.38A.38.38,0,0,0,129.95,42.47Z" fill="%2300afef" fill-rule="evenodd"/><path d="M125,7.71a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm-107,242.22a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm43.87-6.5a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM27.16,129.18a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm78.62,12.72a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM55.61,177.76a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM8,193.6a.42.42,0,1,0,.42.42A.42.42,0,0,0,8,193.6ZM38.28,97.67a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm53.34,6.18a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-42.5,44.94a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm73.2,30.42a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM94.44,49.57a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm41.49,172a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM.49,78a.49.49,0,1,0,.49.49A.49.49,0,0,0,.49,78Zm134.66,37.82a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM5.53,145.52A.49.49,0,1,0,6,146a.49.49,0,0,0-.49-.49ZM106.76,84.81a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM21.43,41.13a.49.49,0,1,0,.49.49A.49.49,0,0,0,21.43,41.13Z" fill="%23ec268f" fill-rule="evenodd"/></g></g></svg>'); }

#boton3, #boton4, #boton5, #boton6 {
  width: 3rem; }

.sky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200vh;
  min-height: 100vh;
  background-color: black;
  z-index: -1; }

.sky-bg {
  height: 100%;
  background-size: 28rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142.05 259.2"><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M115.66,178.42a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM85,106.62a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm30.47,125.84a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM86.79,248.39a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-80,2.38a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM19.3,199.46a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm58.7-32a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-36.9-1.53a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM79.63,201a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm60.79-110.3a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM52.93,15.78a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM81.16,65.59a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM28.54,112.91a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM122,171.59a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-79.5,46.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm40.06-85.27a.6.6,0,1,0,.6.6.6.6,0,0,0-.6-.6ZM48.1,140.69a.6.6,0,1,0,.6.6.6.6,0,0,0-.6-.6ZM56.33,156a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM34.76,203.62a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM42.17,214a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-15,20.89a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM.3,244.27a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm22-62.4a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM18.66,186a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm79.59-7.39a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM91.5,171a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-29,83.17a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm37.48-9.3a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-28.69-5.7a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM68.4,31.72a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM125,119.09a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-97.2,21.08a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM106.5,199a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm6.75,9.9a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-59.85.6a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm56.91-116.9a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM18.69,168.48a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm63.62-21.42a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM43,26.62a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm.24,34.19a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM17.35,92.25a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM101,46.12a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm26.25-31.5a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm-.39-11.76a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM89.27,6.94a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM13.71,1.7a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm104.4,64.47a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm9.77,157.38a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm-29.63-41a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM14.68,212.4a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM8.93,135.84a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM114.41,56.6a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm20.75-44.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-118.58,78a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm19-82.56a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM2.81,26.71a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM134.39,141.54a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM5.3,210.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm78.17-53a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm37.56,88a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-86.41,1.43a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm39-15.5a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-31.88-163a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM107.24,12.7a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm20.73,51a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM14.35,5.22a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM57.57,12a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM86.49,3.24a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm32.44,15.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm.26-11.81a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm18,65.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-18-22.86a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM83.48,59.1a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm44.41,46.26a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-99.52,11a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM10.09,73.91a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm89.39,44.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm5.78,59.57a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm28.1,17.48a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-33.9,28.28a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm36.91,28.7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM64.26,109.62a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm1.46,3.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-64.87-7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm44,16.79a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM50.7,75.37a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM83.22,85.52a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM94.7,51a.26.26,0,1,0,.26.26A.26.26,0,0,0,94.7,51Zm28.59,5a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm13.59-16.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-17.7-4.41a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-76.6,14.4a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-28.49-8a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm4-22.58a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-8-11.81a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-5.31-4A.26.26,0,1,0,5,3.5a.26.26,0,0,0-.26-.26ZM47.19,96a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm70.54,49.47a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm24.07-61.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM35.66,86.57a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM89.91,36.64a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm51.63-19.35a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-4.14,29.8a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM47.19.75a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM9.58,42.08a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm7.89-18.9a.26.26,0,1,0,.26.26A.26.26,0,0,0,17.46,23.17Z" fill="%23fefefe" fill-rule="evenodd"/><path d="M65,10.54a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm66,229.22a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM115.83,81.52a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm.84,32.92a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM121,208.1a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-93.85-9.9a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM65.83,126a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm66.08,56.49a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-93.15-.15a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM138.83,87.84a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM35.57,1.81a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM83,52.51a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM81.09,73.68a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm32.55,73.76a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM13.81,147a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm0,76.49a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM23.35,58.64a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM114.41,12.7a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM2,40.16a.49.49,0,1,0,.49.49A.49.49,0,0,0,2,40.16Zm49.41,6a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm57,212.11a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM4.81,167.51a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm134,1.92a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM9.32,121.08a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm129.28,7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM8.11,60.56a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM.86,0a.38.38,0,1,0,.38.38A.38.38,0,0,0,.86,0ZM134.77,6.45a.38.38,0,1,0,.38.38.38.38,0,0,0-.38-.38Zm-4.82,36a.38.38,0,1,0,.38.38A.38.38,0,0,0,129.95,42.47Z" fill="%2300afef" fill-rule="evenodd"/><path d="M125,7.71a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm-107,242.22a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm43.87-6.5a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM27.16,129.18a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm78.62,12.72a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM55.61,177.76a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM8,193.6a.42.42,0,1,0,.42.42A.42.42,0,0,0,8,193.6ZM38.28,97.67a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm53.34,6.18a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-42.5,44.94a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm73.2,30.42a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM94.44,49.57a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm41.49,172a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM.49,78a.49.49,0,1,0,.49.49A.49.49,0,0,0,.49,78Zm134.66,37.82a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM5.53,145.52A.49.49,0,1,0,6,146a.49.49,0,0,0-.49-.49ZM106.76,84.81a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM21.43,41.13a.49.49,0,1,0,.49.49A.49.49,0,0,0,21.43,41.13Z" fill="%23ec268f" fill-rule="evenodd"/></g></g></svg>'); }

#pageWrap {
  width: 100%;
  overflow: hidden; }

#rocket, #rocket2 {
  display: block;
  margin: 20px auto;
  cursor: pointer; }

/* Inactive state */
#rocket .fire, #rocket2 .fire {
  display: none;
  fill: #f39c12; }

#rocket .rocket-inner, #rocket2 .rocket-inner {
  -webkit-transform: translateY(15px) translateX(-3px);
  -moz-transform: translateY(15px) translateX(-3px);
  -ms-transform: translateY(15px) translateX(-3px);
  -o-transform: translateY(15px) translateX(-3px);
  transform: translateY(15px) translateX(-3px);
  /*transition*/
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#rocket .icon-circle, #rocket .icon-circle {
  /*transition*/
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

#rocket .bg, #rocket .bg {
  fill: #22303e; }

#rocket .bg:hover, #rocket2 .bg:hover {
  fill: #282e3a !important; }

#rocket.clicked .circlefront, #rocket2.clicked .circlefront {
  stroke: #fff;
  stroke-width: 7px; }

#rocket .large-window-path, #rocket2 .large-window-path {
  /*transition*/
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  fill: #22303e; }

#rocket .window, #rocket2 .window {
  /*transition*/
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  fill: #22303e; }

#rocket .wing-shadow, #rocket2 .wing-shadow {
  fill: #34495e; }

#rocket .rocket-bottom, #rocket2 .rocket-bottom {
  fill: #34495e; }

#rocket .rocket-base, #rocket2 .rocket-base {
  fill: #34495e; }

#rocket .rocket-shadow, #rocket2 .rocket-shadow {
  fill: #34495e; }

#rocket .wing-base, #rocket2 .wing-base {
  fill: #34495e; }

/* Hover State */
#rocket.clicked .fire, #rocket2.clicked .fire {
  display: block !important; }

#rocket.clicked .rocket-base, #rocket2.clicked .rocket-base {
  fill: #ecf0f1;
  stroke-width: 0px; }

#rocket.clicked .rocket-shadow, #rocket2.clicked .rocket-shadow {
  fill: #EDEDED !important;
  stroke-width: 0px !important; }

#rocket.clicked .window, #rocket2.clicked .window {
  fill: #34495e !important;
  stroke-width: 0px !important; }

#rocket.clicked .wing-shadow, #rocket2.clicked .wing-shadow {
  display: block !important;
  fill: #c0392b !important; }

#rocket.clicked .wing-base, #rocket2.clicked .wing-base {
  fill: #e74c3c !important;
  stroke-width: 0px !important; }

#rocket.clicked .rocket-bottom, #rocket2.clicked .rocket-bottom {
  fill: #c0392b !important;
  stroke-width: 0px !important; }

#rocket.clicked .rocket-inner, #rocket2.clicked .rocket-inner {
  -webkit-transform: translateY(0px) translateX(-3px) !important;
  -moz-transform: translateY(0px) translateX(-3px) !important;
  -ms-transform: translateY(0px) translateX(-3px) !important;
  -o-transform: translateY(0px) translateX(-3px) !important;
  transform: translateY(0px) translateX(-3px) !important; }

/* Clicked State */
#rocket.clicked .rocket-inner, #rocket2.clicked .rocket-inner {
  -moz-transform: translate(0px, 1000px);
  -ms-transform: translate(0px, 80px);
  -webkit-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
  -webkit-animation: fading 1s infinite linear;
  transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -ms-transition: all 3s;
  -o-transition: all 3s; }

/* Keyframe animations */
@-webkit-keyframes fading {
  0% {
    -webkit-transform: translate(0px, 210px); }
  25% {
    -webkit-transform: translate(0px, 100px); }
  50% {
    -webkit-transform: translate(0px, 0px); }
  75% {
    -webkit-transform: translate(0px, -100px); }
  100% {
    -webkit-transform: translate(0px, -210px); } }
@-moz-keyframes fading {
  0% {
    -moz-transform: translate(0px, 90px); }
  50% {
    -moz-transform: translate(0px, 0px); }
  100% {
    -moz-transform: translate(0px, -90px); } }
@keyframes fading {
  0% {
    transform: translate(0px, 150px); }
  50% {
    transform: translate(0px, 0px); }
  100% {
    transform: translate(0px, -150px); } }
@keyframes fireSmall {
  10% {
    transform: rotate(17deg) translateY(1px); }
  20% {
    transform: rotate(-13deg) translateY(2px); }
  30% {
    transform: rotate(21deg) translateY(3px); }
  40% {
    transform: rotate(-34deg) translateY(4px); }
  50% {
    transform: rotate(24deg) translateY(5px); }
  60% {
    transform: rotate(-17deg) translateY(6px); }
  70% {
    transform: rotate(31deg) translateY(7px); }
  80% {
    transform: rotate(-28deg) translateY(8px); }
  90% {
    transform: rotate(14deg) translateY(9px); }
  99% {
    transform: rotate(0deg) translateY(10px); } }
@-webkit-keyframes fireSmall {
  10% {
    -webkit-transform: rotate(17deg) translateY(1px); }
  20% {
    -webkit-transform: rotate(-13deg) translateY(2px); }
  30% {
    -webkit-transform: rotate(21deg) translateY(3px); }
  40% {
    -webkit-transform: rotate(-34deg) translateY(4px); }
  50% {
    -webkit-transform: rotate(24deg) translateY(5px); }
  60% {
    -webkit-transform: rotate(-17deg) translateY(6px); }
  70% {
    -webkit-transform: rotate(31deg) translateY(7px); }
  80% {
    -webkit-transform: rotate(-28deg) translateY(8px); }
  90% {
    -webkit-transform: rotate(14deg) translateY(9px); }
  99% {
    -webkit-transform: rotate(0deg) translateY(10px); } }
@-moz-keyframes fireSmall {
  10% {
    -moz-transform: rotate(17deg) translateY(1px); }
  20% {
    -moz-transform: rotate(-13deg) translateY(2px); }
  30% {
    -moz-transform: rotate(21deg) translateY(3px); }
  40% {
    -moz-transform: rotate(-34deg) translateY(4px); }
  50% {
    -moz-transform: rotate(24deg) translateY(5px); }
  60% {
    -moz-transform: rotate(-17deg) translateY(6px); }
  70% {
    -moz-transform: rotate(31deg) translateY(7px); }
  80% {
    -moz-transform: rotate(-28deg) translateY(8px); }
  90% {
    -moz-transform: rotate(14deg) translateY(9px); }
  99% {
    -moz-transform: rotate(0deg) translateY(10px); } }
@-webkit-keyframes fireLeft {
  6% {
    -webkit-transform: rotate(25deg); }
  15% {
    -webkit-transform: rotate(-19deg); }
  25% {
    -webkit-transform: rotate(25deg); }
  32% {
    -webkit-transform: rotate(-30deg); }
  46% {
    -webkit-transform: rotate(22deg); }
  54% {
    -webkit-transform: rotate(-29deg); }
  61% {
    -webkit-transform: rotate(32deg); }
  74% {
    -webkit-transform: rotate(-9deg); }
  83% {
    -webkit-transform: rotate(16deg); }
  99% {
    -webkit-transform: rotate(0deg); } }
@-moz-keyframes fireLeft {
  6% {
    -moz-transform: rotate(25deg); }
  15% {
    -moz-transform: rotate(-19deg); }
  25% {
    -moz-transform: rotate(25deg); }
  32% {
    -moz-transform: rotate(-30deg); }
  46% {
    -moz-transform: rotate(22deg); }
  54% {
    -moz-transform: rotate(-29deg); }
  61% {
    -moz-transform: rotate(32deg); }
  74% {
    -moz-transform: rotate(-9deg); }
  83% {
    -moz-transform: rotate(16deg); }
  99% {
    -moz-transform: rotate(0deg); } }
@keyframes fireMiddle {
  10% {
    transform: rotate(25deg); }
  20% {
    transform: rotate(-25deg); }
  30% {
    transform: rotate(30deg); }
  40% {
    transform: rotate(-22deg); }
  50% {
    transform: rotate(29deg); }
  60% {
    transform: rotate(-45deg); }
  70% {
    transform: rotate(37deg); }
  80% {
    transform: rotate(-15deg); }
  90% {
    transform: rotate(16deg); }
  99% {
    transform: rotate(0deg); } }
@-webkit-keyframes fireMiddle {
  10% {
    -webkit-transform: rotate(25deg); }
  20% {
    -webkit-transform: rotate(-25deg); }
  30% {
    -webkit-transform: rotate(30deg); }
  40% {
    -webkit-transform: rotate(-22deg); }
  50% {
    -webkit-transform: rotate(29deg); }
  60% {
    -webkit-transform: rotate(-45deg); }
  70% {
    -webkit-transform: rotate(37deg); }
  80% {
    -webkit-transform: rotate(-15deg); }
  90% {
    -webkit-transform: rotate(16deg); }
  99% {
    -webkit-transform: rotate(0deg); } }
@-moz-keyframes fireMiddle {
  10% {
    -moz-transform: rotate(25deg); }
  20% {
    -moz-transform: rotate(-25deg); }
  30% {
    -moz-transform: rotate(30deg); }
  40% {
    -moz-transform: rotate(-22deg); }
  50% {
    -moz-transform: rotate(29deg); }
  60% {
    -moz-transform: rotate(-45deg); }
  70% {
    -moz-transform: rotate(37deg); }
  80% {
    -moz-transform: rotate(-15deg); }
  90% {
    -moz-transform: rotate(16deg); }
  99% {
    -moz-transform: rotate(0deg); } }
@keyframes fireRight {
  15% {
    transform: rotate(17deg); }
  23% {
    transform: rotate(-13deg); }
  37% {
    transform: rotate(21deg); }
  45% {
    transform: rotate(-34deg); }
  54% {
    transform: rotate(24deg); }
  67% {
    transform: rotate(-17deg); }
  72% {
    transform: rotate(31deg); }
  84% {
    transform: rotate(-28deg); }
  96% {
    transform: rotate(14deg); }
  99% {
    transform: rotate(0deg); } }
@-webkit-keyframes fireRight {
  15% {
    -webkit-transform: rotate(17deg); }
  23% {
    -webkit-transform: rotate(-13deg); }
  37% {
    -webkit-transform: rotate(21deg); }
  45% {
    -webkit-transform: rotate(-34deg); }
  54% {
    -webkit-transform: rotate(24deg); }
  67% {
    -webkit-transform: rotate(-17deg); }
  72% {
    -webkit-transform: rotate(31deg); }
  84% {
    -webkit-transform: rotate(-28deg); }
  96% {
    -webkit-transform: rotate(14deg); }
  99% {
    -webkit-transform: rotate(0deg); } }
@-moz-keyframes fireRight {
  15% {
    -moz-transform: rotate(17deg); }
  23% {
    -moz-transform: rotate(-13deg); }
  37% {
    -moz-transform: rotate(21deg); }
  45% {
    -moz-transform: rotate(-34deg); }
  54% {
    -moz-transform: rotate(24deg); }
  67% {
    -moz-transform: rotate(-17deg); }
  72% {
    -moz-transform: rotate(31deg); }
  84% {
    -moz-transform: rotate(-28deg); }
  96% {
    -moz-transform: rotate(14deg); }
  99% {
    -moz-transform: rotate(0deg); } }
@keyframes fillOpacity1 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  50% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@-webkit-keyframes fillOpacity1 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  50% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@-moz-keyframes fillOpacity1 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  50% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@keyframes fillOpacity2 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  25% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@-webkit-keyframes fillOpacity2 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  25% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@-moz-keyframes fillOpacity2 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  25% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@keyframes fillOpacity3 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  67% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@-webkit-keyframes fillOpacity3 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  67% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@-moz-keyframes fillOpacity3 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  67% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@keyframes rocektMove {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(20px); } }
@-webkit-keyframes rocektMove {
  0% {
    -webkit-transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(20px); } }
@-moz-keyframes rocektMove {
  0% {
    -moz-transform: translateY(0px); }
  100% {
    -moz-transform: translateY(20px); } }
/* Animated objects */
.fire {
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*transform-origin*/
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /*animation-direction*/
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -ms-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal; }

#rocket.clicked #fire-left, #rocket2.clicked #fire-left {
  /*animation-delay*/
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  /*animation-name*/
  -webkit-animation-name: fireLeft, fillOpacity1;
  -moz-animation-name: fireLeft, fillOpacity1;
  -ms-animation-name: fireLeft, fillOpacity1;
  -o-animation-name: fireLeft, fillOpacity1;
  animation-name: fireLeft, fillOpacity1;
  /*animation-duration*/
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  animation-duration: 1.2s; }

#rocket.clicked #fire-middle, #rocket2.clicked #fire-middle {
  /*animation-delay*/
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  /*animation-name*/
  -webkit-animation-name: fireMiddle, fillOpacity1;
  -moz-animation-name: fireMiddle, fillOpacity1;
  -ms-animation-name: fireMiddle, fillOpacity1;
  -o-animation-name: fireMiddle, fillOpacity1;
  animation-name: fireMiddle, fillOpacity1;
  /*animation-duration*/
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

#rocket.clicked #fire-right, #rocket2.clicked #fire-right {
  /*animation-delay*/
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  /*animation-name*/
  -webkit-animation-name: fireRight, fillOpacity1;
  -moz-animation-name: fireRight, fillOpacity1;
  -ms-animation-name: fireRight, fillOpacity1;
  -o-animation-name: fireRight, fillOpacity1;
  animation-name: fireRight, fillOpacity1;
  /*animation-duration*/
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  animation-duration: 1.3s; }

#rocket.clicked #fire-small-left, #rocket2.clicked #fire-small-left {
  /*animation-delay*/
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  /*animation-name*/
  -webkit-animation-name: fireSmall, fillOpacity2;
  -moz-animation-name: fireSmall, fillOpacity2;
  -ms-animation-name: fireSmall, fillOpacity2;
  -o-animation-name: fireSmall, fillOpacity2;
  animation-name: fireSmall, fillOpacity2;
  /*animation-duration*/
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  animation-duration: 1.3s;
  /*transform-origin*/
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom; }

#rocket.clicked #fire-small-right, #rocket2.clicked #fire-small-right {
  /*animation-delay*/
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  /*animation-name*/
  -webkit-animation-name: fireSmall, fillOpacity3;
  -moz-animation-name: fireSmall, fillOpacity3;
  -ms-animation-name: fireSmall, fillOpacity3;
  -o-animation-name: fireSmall, fillOpacity3;
  animation-name: fireSmall, fillOpacity3;
  /*animation-duration*/
  -webkit-animation-duration: 1.6s;
  -moz-animation-duration: 1.6s;
  -ms-animation-duration: 1.6s;
  -o-animation-duration: 1.6s;
  animation-duration: 1.6s;
  /*transform-origin*/
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom; }

/*****************************************/
html, body {
  height: 100%; }

body {
  background: #000;
  perspective: 340px; }

.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  box-shadow: -636px -325px #c4c4c4, 1413px 371px #c7c7c7, 1472px -167px #c4c4c4, 681px -268px #f7f7f7, -1006px 297px #c7c7c7, -66px -370px #c2c2c2, -1028px 411px #e8e8e8, 267px -227px #e0e0e0, -855px 392px #d1d1d1, -858px -78px #f0f0f0, -593px 177px #c9c9c9, 378px -268px #cfcfcf, -1243px -26px #e6e6e6, -304px 58px #ededed, 18px 9px #cccccc, -1269px 187px #c9c9c9, 494px 144px #c7c7c7, -597px 405px #d1d1d1, -398px -146px #dbdbdb, -525px -359px #fcfcfc, 1365px 154px #e0e0e0, 1202px -239px whitesmoke, 697px 274px #dbdbdb, -424px 89px #c7c7c7, 1271px -195px #d9d9d9, -624px 238px #c9c9c9, -293px 340px #c4c4c4, -23px 21px #dbdbdb, -1012px -326px #c7c7c7, 766px -135px #c9c9c9, 7px -39px #cccccc, -365px -301px #dedede, -524px -203px #c4c4c4, -395px -371px #f0f0f0, -1076px -228px #cccccc, -750px -54px whitesmoke, -751px 292px #c9c9c9, -1146px -117px #fcfcfc, 1035px 353px #c2c2c2, -1420px -336px #d4d4d4, -170px -81px #e3e3e3, 277px 253px #fafafa, -719px 196px #f2f2f2, 1213px -473px #c4c4c4, 654px -92px #ebebeb, -1254px 60px #f2f2f2, -1463px -441px whitesmoke, 1487px -233px #e3e3e3, -631px 46px #ebebeb, 101px 183px #f0f0f0, 672px 457px whitesmoke, -25px -274px whitesmoke, -213px 236px #e6e6e6, 943px 88px #d6d6d6, 314px -471px #fcfcfc, -1470px 57px #f7f7f7, -477px -232px #dbdbdb, -559px 315px #c4c4c4, -18px 88px #c9c9c9, -329px -90px #d6d6d6, 341px 105px whitesmoke, 1061px 118px #d4d4d4, 850px -400px #d4d4d4, 29px 83px #f7f7f7, 947px -63px #e0e0e0, -1497px -456px #e0e0e0, -581px -164px #cfcfcf, -294px -254px #f0f0f0, 88px 87px #e6e6e6, -1019px 298px #fcfcfc, 1097px 237px #dedede, 826px 56px #e8e8e8, 613px -17px #fafafa, 182px -55px #e0e0e0, -1385px -12px whitesmoke, -912px 339px #c4c4c4, 110px -244px #d4d4d4, -317px -232px #dbdbdb, -1165px 76px #e3e3e3, -276px 336px #e0e0e0, 1379px -73px #d9d9d9, -1075px -46px #fcfcfc, -995px 7px whitesmoke, -852px -290px #d4d4d4, 405px 13px #dbdbdb, 111px 45px #e3e3e3, 553px -413px #dedede, 1389px 119px #cccccc, 211px 74px #e6e6e6, -1274px -368px #d1d1d1, 1009px 346px #e8e8e8, 790px 96px #c4c4c4, -266px 161px #f0f0f0, -113px -432px #c2c2c2, 1267px 83px #fcfcfc, 116px 266px #d6d6d6, -1349px -215px whitesmoke, 499px 278px #ededed, -1316px 442px #e3e3e3, -21px -126px #ebebeb, 805px -31px #fafafa, -806px 156px #d1d1d1, -1035px -203px #cfcfcf, -774px -425px #dedede, -17px 373px #fafafa, 512px -474px #fcfcfc, -512px 233px #e8e8e8, 794px -337px #c2c2c2, 819px 94px #e3e3e3, 918px 31px #e6e6e6, 10px 41px #e8e8e8, 355px 172px #d6d6d6, 653px -34px #ebebeb, 163px 468px #dbdbdb, 555px -397px #dbdbdb, 327px 95px #d6d6d6, -178px 52px #e0e0e0, 372px -35px #d6d6d6, -512px 469px #cfcfcf, 1414px -80px #dedede, 1106px -132px #d1d1d1, -557px 185px #f2f2f2, 1479px 225px #e8e8e8, -384px -62px #d6d6d6, 1283px -123px #cccccc, -731px -316px #e0e0e0, -346px -69px #fcfcfc, -982px -64px #f0f0f0, 451px 23px #cccccc, 1147px -395px #fafafa, -523px 192px #e6e6e6, 791px 347px white, -338px 398px #c2c2c2, -362px 433px #d4d4d4, -1423px 24px #dedede, -809px -383px #e3e3e3, -689px -271px #ebebeb, -1018px 184px #f7f7f7, 1016px -348px #f7f7f7, 289px 376px #f7f7f7, 1085px 340px #e3e3e3, -626px 42px #e6e6e6, 234px 106px #fafafa, -129px -66px #c7c7c7, 332px 210px #dedede, -949px 251px #cfcfcf, 324px -106px #f7f7f7, -1223px -187px #c7c7c7, 547px -164px #e6e6e6, 819px 386px #c4c4c4, 1200px -358px #e6e6e6, 375px -388px #dbdbdb, 101px -120px #d1d1d1, 303px 191px #c7c7c7, -26px -325px #d4d4d4, 1029px -25px #d9d9d9, 125px -244px #e6e6e6, -351px 418px #c9c9c9, 774px 288px #c4c4c4, 567px -143px #d4d4d4, 1291px 203px #e8e8e8, -1253px -320px #f0f0f0, 885px -338px #c7c7c7, -1335px 474px #c4c4c4, 203px -410px #ededed, 731px 63px #c2c2c2, -164px 9px #ebebeb, 68px 266px #e8e8e8, 941px 373px #fafafa, 135px -225px #d4d4d4, 804px 185px #f2f2f2, 1453px 103px #d9d9d9, 666px -310px #fafafa, -504px 241px #cccccc, 687px -410px #ebebeb, 253px -53px #ebebeb, -104px 76px #d1d1d1, -502px -477px #e8e8e8, 305px 290px white, -24px 446px #dbdbdb, -321px 65px #f0f0f0, -445px -259px #f2f2f2, -568px 264px #fafafa, -176px -48px #d1d1d1, 1499px -313px #c9c9c9, -1090px 432px #d4d4d4, 898px 213px #dbdbdb, -1277px 98px #f7f7f7, -511px 80px #f2f2f2, -806px -321px #fafafa, 710px 275px #c7c7c7, -273px -16px #dedede, -1349px -214px #d9d9d9, 1166px -122px #f2f2f2, -339px 65px #f7f7f7, 1235px 267px #f0f0f0, -739px -372px #ededed, 229px 75px #e3e3e3, 1305px -70px #e0e0e0, 619px 348px #e0e0e0, -1270px -354px whitesmoke, -812px -384px #cfcfcf, -894px -79px #fcfcfc, 1346px -479px #e3e3e3, 6px 435px #d1d1d1, 205px 335px #d6d6d6, -895px -436px #f2f2f2, 1410px -373px #c7c7c7, 1382px 234px #d6d6d6, -1279px 209px #dbdbdb, -50px 47px white, 531px 253px #cfcfcf, 641px 454px #fcfcfc, 206px -42px #c2c2c2, 1252px 332px #ededed, -586px -361px #c9c9c9, -173px -420px #d1d1d1, -96px -133px #c2c2c2, 945px -426px #f7f7f7, 812px -46px #e8e8e8, -474px 401px #cfcfcf, 837px -2px #d6d6d6, -1472px 266px #d1d1d1, -750px -79px white, 694px 104px #e8e8e8, 84px 36px #cccccc, 1123px -346px #e6e6e6, 435px 156px #d1d1d1, -43px 15px white, 154px 233px #c7c7c7, -195px -467px #cfcfcf, 1345px -223px #cccccc, -1408px -158px whitesmoke, -639px -299px #ebebeb, -594px -150px #c2c2c2, -207px -65px #e8e8e8, 762px 60px #f0f0f0, -105px -206px #c7c7c7, -677px 464px #e3e3e3, -423px 237px #cfcfcf, 449px -266px #c9c9c9, 1379px 463px #ededed, 754px -231px #e6e6e6, -867px -277px #c7c7c7, 749px 402px #dedede, -1061px 399px #fcfcfc, -230px 182px white, 125px -126px #c2c2c2, -818px 53px #ededed, -1317px -279px #d9d9d9, -109px 434px #f2f2f2, 588px 64px #c4c4c4, 167px 178px #dedede, 304px 64px white, -724px -154px #e0e0e0, 1256px 121px #ebebeb, -1272px 154px #fafafa, -1232px -153px #c4c4c4, -370px 340px #e6e6e6, -115px -285px #e0e0e0, -1103px 387px #e8e8e8, -12px 230px #ededed, 202px 99px #c9c9c9, 593px -179px #fcfcfc, -339px -181px #d9d9d9, -1074px 363px #d4d4d4, 1354px 258px #e3e3e3, 116px 183px #f2f2f2, -1489px -308px whitesmoke, -522px -145px #c9c9c9, -1497px 90px #d1d1d1, -469px -223px #d9d9d9, 816px -448px whitesmoke, 1454px 346px #d9d9d9, 1038px 109px #fcfcfc, 438px 219px #dbdbdb, -980px -361px #c2c2c2, 700px -274px white, 679px -341px #ededed, 1335px -374px #c9c9c9, 18px -232px #e6e6e6, -1004px 375px #f2f2f2, -468px -320px #fafafa, -261px 140px #e0e0e0, -142px 222px #e6e6e6, -1268px 466px #e3e3e3, 148px -26px #dbdbdb, 323px 235px #cfcfcf, 653px 102px #cfcfcf, -1081px -333px #fafafa, -117px 464px white, -1041px -156px #dbdbdb, -1426px 45px #ebebeb, -311px 162px #fafafa, 409px -378px #c4c4c4, -506px -352px #dbdbdb, 1467px 237px whitesmoke, 1248px 185px #c4c4c4, 1331px 326px white, 329px -174px #fcfcfc, -675px 279px #cfcfcf, -1455px 148px #d9d9d9, 811px -36px #f7f7f7, 1339px 407px #d1d1d1, -1289px 207px #f0f0f0, -1020px -282px #c9c9c9, -185px 104px #c4c4c4, 232px 173px #c7c7c7, 1042px 25px #c9c9c9, -1305px -378px #f0f0f0, 340px 127px #e3e3e3, 1476px -369px #d4d4d4, -76px -80px #c9c9c9, -1174px 249px #d4d4d4, 404px -30px #e0e0e0, 1321px -287px #cfcfcf, -1275px -256px whitesmoke, 1173px 146px #e6e6e6, 940px -95px #e6e6e6, 525px 265px #e3e3e3, 625px 274px whitesmoke, 675px -457px #ebebeb, -815px 357px #e6e6e6, -181px 428px #cfcfcf, 395px 256px #dbdbdb, -1323px 352px #c9c9c9, 1126px -193px whitesmoke, -814px 39px #d4d4d4, 244px 183px #c7c7c7, -215px -77px #f2f2f2, 319px -204px #ededed, 986px 228px #f2f2f2, -478px 18px #e8e8e8, -168px 151px #fafafa, -713px -245px #fafafa, -1356px -237px #f0f0f0, 939px 400px white, 1452px -317px #ebebeb, -140px -270px white, 1090px -27px #d1d1d1, -1292px 417px #dedede, -399px 461px #d9d9d9, 1121px 274px #c2c2c2, 40px -257px #c7c7c7, -548px -128px #fcfcfc, -869px 170px #d1d1d1, 965px -222px #c9c9c9, 1033px 163px #c7c7c7, 618px -373px #d9d9d9, -568px 36px #cfcfcf, -1020px 414px #e6e6e6;
  animation: fly 3s linear infinite;
  transform-style: preserve-3d; }
  .stars:before, .stars:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    box-shadow: inherit; }
  .stars:before {
    transform: translateZ(-300px);
    animation: fade1 3s linear infinite;
    -webkit-animation: fade1 3s linear infinite; }
  .stars:after {
    transform: translateZ(-600px);
    animation: fade2 3s linear infinite;
    -webkit-animation: fade2 3s linear infinite; }

@keyframes fly {
  from {
    transform: translateZ(0px); }
  to {
    transform: translateZ(300px); } }
@keyframes fade1 {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }
@keyframes fade2 {
  from {
    opacity: 0; }
  to {
    opacity: .5; } }

/*# sourceMappingURL=styles.css.map */
