html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  /*  background: #34495e; */
  height: 100vh;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142.05 259.2"><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M115.66,178.42a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM85,106.62a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm30.47,125.84a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM86.79,248.39a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-80,2.38a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM19.3,199.46a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm58.7-32a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-36.9-1.53a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM79.63,201a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm60.79-110.3a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM52.93,15.78a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM81.16,65.59a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM28.54,112.91a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM122,171.59a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-79.5,46.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm40.06-85.27a.6.6,0,1,0,.6.6.6.6,0,0,0-.6-.6ZM48.1,140.69a.6.6,0,1,0,.6.6.6.6,0,0,0-.6-.6ZM56.33,156a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM34.76,203.62a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM42.17,214a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-15,20.89a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM.3,244.27a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm22-62.4a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM18.66,186a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm79.59-7.39a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM91.5,171a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-29,83.17a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm37.48-9.3a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-28.69-5.7a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM68.4,31.72a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM125,119.09a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-97.2,21.08a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM106.5,199a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm6.75,9.9a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-59.85.6a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm56.91-116.9a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM18.69,168.48a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm63.62-21.42a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM43,26.62a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm.24,34.19a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM17.35,92.25a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM101,46.12a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm26.25-31.5a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm-.39-11.76a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM89.27,6.94a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM13.71,1.7a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm104.4,64.47a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm9.77,157.38a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm-29.63-41a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM14.68,212.4a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM8.93,135.84a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM114.41,56.6a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm20.75-44.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-118.58,78a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm19-82.56a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM2.81,26.71a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM134.39,141.54a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM5.3,210.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm78.17-53a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm37.56,88a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-86.41,1.43a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm39-15.5a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-31.88-163a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM107.24,12.7a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm20.73,51a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM14.35,5.22a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM57.57,12a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM86.49,3.24a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm32.44,15.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm.26-11.81a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm18,65.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-18-22.86a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM83.48,59.1a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm44.41,46.26a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-99.52,11a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM10.09,73.91a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm89.39,44.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm5.78,59.57a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm28.1,17.48a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-33.9,28.28a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm36.91,28.7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM64.26,109.62a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm1.46,3.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-64.87-7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm44,16.79a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM50.7,75.37a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM83.22,85.52a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM94.7,51a.26.26,0,1,0,.26.26A.26.26,0,0,0,94.7,51Zm28.59,5a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm13.59-16.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-17.7-4.41a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-76.6,14.4a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-28.49-8a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm4-22.58a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-8-11.81a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-5.31-4A.26.26,0,1,0,5,3.5a.26.26,0,0,0-.26-.26ZM47.19,96a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm70.54,49.47a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm24.07-61.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM35.66,86.57a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM89.91,36.64a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm51.63-19.35a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-4.14,29.8a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM47.19.75a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM9.58,42.08a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm7.89-18.9a.26.26,0,1,0,.26.26A.26.26,0,0,0,17.46,23.17Z" fill="%23fefefe" fill-rule="evenodd"/><path d="M65,10.54a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm66,229.22a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM115.83,81.52a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm.84,32.92a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM121,208.1a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-93.85-9.9a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM65.83,126a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm66.08,56.49a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-93.15-.15a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM138.83,87.84a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM35.57,1.81a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM83,52.51a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM81.09,73.68a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm32.55,73.76a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM13.81,147a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm0,76.49a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM23.35,58.64a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM114.41,12.7a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM2,40.16a.49.49,0,1,0,.49.49A.49.49,0,0,0,2,40.16Zm49.41,6a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm57,212.11a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM4.81,167.51a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm134,1.92a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM9.32,121.08a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm129.28,7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM8.11,60.56a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM.86,0a.38.38,0,1,0,.38.38A.38.38,0,0,0,.86,0ZM134.77,6.45a.38.38,0,1,0,.38.38.38.38,0,0,0-.38-.38Zm-4.82,36a.38.38,0,1,0,.38.38A.38.38,0,0,0,129.95,42.47Z" fill="%2300afef" fill-rule="evenodd"/><path d="M125,7.71a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm-107,242.22a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm43.87-6.5a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM27.16,129.18a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm78.62,12.72a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM55.61,177.76a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM8,193.6a.42.42,0,1,0,.42.42A.42.42,0,0,0,8,193.6ZM38.28,97.67a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm53.34,6.18a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-42.5,44.94a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm73.2,30.42a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM94.44,49.57a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm41.49,172a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM.49,78a.49.49,0,1,0,.49.49A.49.49,0,0,0,.49,78Zm134.66,37.82a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM5.53,145.52A.49.49,0,1,0,6,146a.49.49,0,0,0-.49-.49ZM106.76,84.81a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM21.43,41.13a.49.49,0,1,0,.49.49A.49.49,0,0,0,21.43,41.13Z" fill="%23ec268f" fill-rule="evenodd"/></g></g></svg>'); }

.sky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200vh;
  min-height: 100vh;
  background-color: black;
  z-index: -1; }

.sky-bg {
  height: 100%;
  background-size: 28rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142.05 259.2"><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M115.66,178.42a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM85,106.62a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm30.47,125.84a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM86.79,248.39a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-80,2.38a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM19.3,199.46a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm58.7-32a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-36.9-1.53a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM79.63,201a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm60.79-110.3a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM52.93,15.78a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM81.16,65.59a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM28.54,112.91a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM122,171.59a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-79.5,46.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm40.06-85.27a.6.6,0,1,0,.6.6.6.6,0,0,0-.6-.6ZM48.1,140.69a.6.6,0,1,0,.6.6.6.6,0,0,0-.6-.6ZM56.33,156a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM34.76,203.62a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM42.17,214a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-15,20.89a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM.3,244.27a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm22-62.4a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM18.66,186a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm79.59-7.39a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM91.5,171a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-29,83.17a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm37.48-9.3a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-28.69-5.7a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM68.4,31.72a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM125,119.09a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-97.2,21.08a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM106.5,199a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm6.75,9.9a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-59.85.6a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm56.91-116.9a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM18.69,168.48a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm63.62-21.42a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM43,26.62a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm.24,34.19a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM17.35,92.25a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM101,46.12a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm26.25-31.5a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm-.39-11.76a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM89.27,6.94a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM13.71,1.7a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm104.4,64.47a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm9.77,157.38a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm-29.63-41a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM14.68,212.4a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM8.93,135.84a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM114.41,56.6a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm20.75-44.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-118.58,78a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm19-82.56a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM2.81,26.71a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM134.39,141.54a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM5.3,210.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm78.17-53a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm37.56,88a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-86.41,1.43a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm39-15.5a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-31.88-163a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM107.24,12.7a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm20.73,51a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM14.35,5.22a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM57.57,12a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM86.49,3.24a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm32.44,15.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm.26-11.81a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm18,65.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-18-22.86a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM83.48,59.1a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm44.41,46.26a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-99.52,11a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM10.09,73.91a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm89.39,44.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm5.78,59.57a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm28.1,17.48a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-33.9,28.28a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm36.91,28.7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM64.26,109.62a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm1.46,3.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-64.87-7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm44,16.79a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM50.7,75.37a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM83.22,85.52a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM94.7,51a.26.26,0,1,0,.26.26A.26.26,0,0,0,94.7,51Zm28.59,5a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm13.59-16.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-17.7-4.41a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-76.6,14.4a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-28.49-8a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm4-22.58a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-8-11.81a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-5.31-4A.26.26,0,1,0,5,3.5a.26.26,0,0,0-.26-.26ZM47.19,96a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm70.54,49.47a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm24.07-61.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM35.66,86.57a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM89.91,36.64a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm51.63-19.35a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-4.14,29.8a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM47.19.75a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM9.58,42.08a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm7.89-18.9a.26.26,0,1,0,.26.26A.26.26,0,0,0,17.46,23.17Z" fill="%23fefefe" fill-rule="evenodd"/><path d="M65,10.54a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm66,229.22a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM115.83,81.52a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm.84,32.92a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM121,208.1a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-93.85-9.9a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM65.83,126a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm66.08,56.49a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-93.15-.15a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM138.83,87.84a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM35.57,1.81a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM83,52.51a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM81.09,73.68a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm32.55,73.76a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM13.81,147a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm0,76.49a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM23.35,58.64a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM114.41,12.7a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM2,40.16a.49.49,0,1,0,.49.49A.49.49,0,0,0,2,40.16Zm49.41,6a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm57,212.11a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM4.81,167.51a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm134,1.92a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM9.32,121.08a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm129.28,7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM8.11,60.56a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM.86,0a.38.38,0,1,0,.38.38A.38.38,0,0,0,.86,0ZM134.77,6.45a.38.38,0,1,0,.38.38.38.38,0,0,0-.38-.38Zm-4.82,36a.38.38,0,1,0,.38.38A.38.38,0,0,0,129.95,42.47Z" fill="%2300afef" fill-rule="evenodd"/><path d="M125,7.71a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm-107,242.22a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm43.87-6.5a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM27.16,129.18a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm78.62,12.72a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM55.61,177.76a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM8,193.6a.42.42,0,1,0,.42.42A.42.42,0,0,0,8,193.6ZM38.28,97.67a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm53.34,6.18a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-42.5,44.94a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm73.2,30.42a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM94.44,49.57a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm41.49,172a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM.49,78a.49.49,0,1,0,.49.49A.49.49,0,0,0,.49,78Zm134.66,37.82a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM5.53,145.52A.49.49,0,1,0,6,146a.49.49,0,0,0-.49-.49ZM106.76,84.81a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM21.43,41.13a.49.49,0,1,0,.49.49A.49.49,0,0,0,21.43,41.13Z" fill="%23ec268f" fill-rule="evenodd"/></g></g></svg>'); }

#pageWrap {
  width: 100%;
  overflow: hidden; }

#rocket, #rocket2 {
  display: block;
  margin: 20px auto;
  cursor: pointer; }

/* Inactive state */
#rocket .fire, #rocket2 .fire {
  display: none;
  fill: #f39c12; }

#rocket .rocket-inner, #rocket2 .rocket-inner {
  -webkit-transform: translateY(15px) translateX(-3px);
  -moz-transform: translateY(15px) translateX(-3px);
  -ms-transform: translateY(15px) translateX(-3px);
  -o-transform: translateY(15px) translateX(-3px);
  transform: translateY(15px) translateX(-3px);
  /*transition*/
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#rocket .icon-circle, #rocket .icon-circle {
  /*transition*/
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

#rocket .bg, #rocket .bg {
  fill: #22303e; }

#rocket .bg:hover, #rocket2 .bg:hover {
  fill: #282e3a !important; }

#rocket.clicked .circlefront, #rocket2.clicked .circlefront {
  stroke: #fff !important;
  stroke-width: 7px !important; }

#rocket .large-window-path, #rocket2 .large-window-path {
  /*transition*/
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  fill: #22303e; }

#rocket .window, #rocket2 .window {
  /*transition*/
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  fill: #22303e; }

#rocket .wing-shadow, #rocket2 .wing-shadow {
  fill: #34495e; }

#rocket .rocket-bottom, #rocket2 .rocket-bottom {
  fill: #34495e; }

#rocket .rocket-base, #rocket2 .rocket-base {
  fill: #34495e; }

#rocket .rocket-shadow, #rocket2 .rocket-shadow {
  fill: #34495e; }

#rocket .wing-base, #rocket2 .wing-base {
  fill: #34495e; }

/* Hover State */
#rocket.clicked .fire, #rocket2.clicked .fire {
  display: block !important; }

#rocket.clicked .rocket-base, #rocket2.clicked .rocket-base {
  fill: #ecf0f1 !important;
  stroke-width: 0px !important; }

#rocket.clicked .rocket-shadow, #rocket2.clicked .rocket-shadow {
  fill: #EDEDED !important;
  stroke-width: 0px !important; }

#rocket.clicked .window, #rocket2.clicked .window {
  fill: #34495e !important;
  stroke-width: 0px !important; }

#rocket.clicked .wing-shadow, #rocket2.clicked .wing-shadow {
  display: block !important;
  fill: #c0392b !important; }

#rocket.clicked .wing-base, #rocket2.clicked .wing-base {
  fill: #e74c3c !important;
  stroke-width: 0px !important; }

#rocket.clicked .rocket-bottom, #rocket2.clicked .rocket-bottom {
  fill: #c0392b !important;
  stroke-width: 0px !important; }

#rocket.clicked .rocket-inner, #rocket2.clicked .rocket-inner {
  -webkit-transform: translateY(0px) translateX(-3px) !important;
  -moz-transform: translateY(0px) translateX(-3px) !important;
  -ms-transform: translateY(0px) translateX(-3px) !important;
  -o-transform: translateY(0px) translateX(-3px) !important;
  transform: translateY(0px) translateX(-3px) !important; }

/* Clicked State */
#rocket.clicked .rocket-inner, #rocket2.clicked .rocket-inner {
  -moz-transform: translate(0px, 1000px);
  -ms-transform: translate(0px, 80px);
  -webkit-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
  -webkit-animation: fading 1s infinite linear;
  transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -ms-transition: all 3s;
  -o-transition: all 3s; }

/* Keyframe animations */
@-webkit-keyframes fading {
  0% {
    -webkit-transform: translate(0px, 210px); }
  25% {
    -webkit-transform: translate(0px, 100px); }
  50% {
    -webkit-transform: translate(0px, 0px); }
  75% {
    -webkit-transform: translate(0px, -100px); }
  100% {
    -webkit-transform: translate(0px, -210px); } }
@-moz-keyframes fading {
  0% {
    -moz-transform: translate(0px, 90px); }
  50% {
    -moz-transform: translate(0px, 0px); }
  100% {
    -moz-transform: translate(0px, -90px); } }
@keyframes fading {
  0% {
    transform: translate(0px, 150px); }
  50% {
    transform: translate(0px, 0px); }
  100% {
    transform: translate(0px, -150px); } }
@keyframes fireSmall {
  10% {
    transform: rotate(17deg) translateY(1px); }
  20% {
    transform: rotate(-13deg) translateY(2px); }
  30% {
    transform: rotate(21deg) translateY(3px); }
  40% {
    transform: rotate(-34deg) translateY(4px); }
  50% {
    transform: rotate(24deg) translateY(5px); }
  60% {
    transform: rotate(-17deg) translateY(6px); }
  70% {
    transform: rotate(31deg) translateY(7px); }
  80% {
    transform: rotate(-28deg) translateY(8px); }
  90% {
    transform: rotate(14deg) translateY(9px); }
  99% {
    transform: rotate(0deg) translateY(10px); } }
@-webkit-keyframes fireSmall {
  10% {
    -webkit-transform: rotate(17deg) translateY(1px); }
  20% {
    -webkit-transform: rotate(-13deg) translateY(2px); }
  30% {
    -webkit-transform: rotate(21deg) translateY(3px); }
  40% {
    -webkit-transform: rotate(-34deg) translateY(4px); }
  50% {
    -webkit-transform: rotate(24deg) translateY(5px); }
  60% {
    -webkit-transform: rotate(-17deg) translateY(6px); }
  70% {
    -webkit-transform: rotate(31deg) translateY(7px); }
  80% {
    -webkit-transform: rotate(-28deg) translateY(8px); }
  90% {
    -webkit-transform: rotate(14deg) translateY(9px); }
  99% {
    -webkit-transform: rotate(0deg) translateY(10px); } }
@-moz-keyframes fireSmall {
  10% {
    -moz-transform: rotate(17deg) translateY(1px); }
  20% {
    -moz-transform: rotate(-13deg) translateY(2px); }
  30% {
    -moz-transform: rotate(21deg) translateY(3px); }
  40% {
    -moz-transform: rotate(-34deg) translateY(4px); }
  50% {
    -moz-transform: rotate(24deg) translateY(5px); }
  60% {
    -moz-transform: rotate(-17deg) translateY(6px); }
  70% {
    -moz-transform: rotate(31deg) translateY(7px); }
  80% {
    -moz-transform: rotate(-28deg) translateY(8px); }
  90% {
    -moz-transform: rotate(14deg) translateY(9px); }
  99% {
    -moz-transform: rotate(0deg) translateY(10px); } }
@-webkit-keyframes fireLeft {
  6% {
    -webkit-transform: rotate(25deg); }
  15% {
    -webkit-transform: rotate(-19deg); }
  25% {
    -webkit-transform: rotate(25deg); }
  32% {
    -webkit-transform: rotate(-30deg); }
  46% {
    -webkit-transform: rotate(22deg); }
  54% {
    -webkit-transform: rotate(-29deg); }
  61% {
    -webkit-transform: rotate(32deg); }
  74% {
    -webkit-transform: rotate(-9deg); }
  83% {
    -webkit-transform: rotate(16deg); }
  99% {
    -webkit-transform: rotate(0deg); } }
@-moz-keyframes fireLeft {
  6% {
    -moz-transform: rotate(25deg); }
  15% {
    -moz-transform: rotate(-19deg); }
  25% {
    -moz-transform: rotate(25deg); }
  32% {
    -moz-transform: rotate(-30deg); }
  46% {
    -moz-transform: rotate(22deg); }
  54% {
    -moz-transform: rotate(-29deg); }
  61% {
    -moz-transform: rotate(32deg); }
  74% {
    -moz-transform: rotate(-9deg); }
  83% {
    -moz-transform: rotate(16deg); }
  99% {
    -moz-transform: rotate(0deg); } }
@keyframes fireMiddle {
  10% {
    transform: rotate(25deg); }
  20% {
    transform: rotate(-25deg); }
  30% {
    transform: rotate(30deg); }
  40% {
    transform: rotate(-22deg); }
  50% {
    transform: rotate(29deg); }
  60% {
    transform: rotate(-45deg); }
  70% {
    transform: rotate(37deg); }
  80% {
    transform: rotate(-15deg); }
  90% {
    transform: rotate(16deg); }
  99% {
    transform: rotate(0deg); } }
@-webkit-keyframes fireMiddle {
  10% {
    -webkit-transform: rotate(25deg); }
  20% {
    -webkit-transform: rotate(-25deg); }
  30% {
    -webkit-transform: rotate(30deg); }
  40% {
    -webkit-transform: rotate(-22deg); }
  50% {
    -webkit-transform: rotate(29deg); }
  60% {
    -webkit-transform: rotate(-45deg); }
  70% {
    -webkit-transform: rotate(37deg); }
  80% {
    -webkit-transform: rotate(-15deg); }
  90% {
    -webkit-transform: rotate(16deg); }
  99% {
    -webkit-transform: rotate(0deg); } }
@-moz-keyframes fireMiddle {
  10% {
    -moz-transform: rotate(25deg); }
  20% {
    -moz-transform: rotate(-25deg); }
  30% {
    -moz-transform: rotate(30deg); }
  40% {
    -moz-transform: rotate(-22deg); }
  50% {
    -moz-transform: rotate(29deg); }
  60% {
    -moz-transform: rotate(-45deg); }
  70% {
    -moz-transform: rotate(37deg); }
  80% {
    -moz-transform: rotate(-15deg); }
  90% {
    -moz-transform: rotate(16deg); }
  99% {
    -moz-transform: rotate(0deg); } }
@keyframes fireRight {
  15% {
    transform: rotate(17deg); }
  23% {
    transform: rotate(-13deg); }
  37% {
    transform: rotate(21deg); }
  45% {
    transform: rotate(-34deg); }
  54% {
    transform: rotate(24deg); }
  67% {
    transform: rotate(-17deg); }
  72% {
    transform: rotate(31deg); }
  84% {
    transform: rotate(-28deg); }
  96% {
    transform: rotate(14deg); }
  99% {
    transform: rotate(0deg); } }
@-webkit-keyframes fireRight {
  15% {
    -webkit-transform: rotate(17deg); }
  23% {
    -webkit-transform: rotate(-13deg); }
  37% {
    -webkit-transform: rotate(21deg); }
  45% {
    -webkit-transform: rotate(-34deg); }
  54% {
    -webkit-transform: rotate(24deg); }
  67% {
    -webkit-transform: rotate(-17deg); }
  72% {
    -webkit-transform: rotate(31deg); }
  84% {
    -webkit-transform: rotate(-28deg); }
  96% {
    -webkit-transform: rotate(14deg); }
  99% {
    -webkit-transform: rotate(0deg); } }
@-moz-keyframes fireRight {
  15% {
    -moz-transform: rotate(17deg); }
  23% {
    -moz-transform: rotate(-13deg); }
  37% {
    -moz-transform: rotate(21deg); }
  45% {
    -moz-transform: rotate(-34deg); }
  54% {
    -moz-transform: rotate(24deg); }
  67% {
    -moz-transform: rotate(-17deg); }
  72% {
    -moz-transform: rotate(31deg); }
  84% {
    -moz-transform: rotate(-28deg); }
  96% {
    -moz-transform: rotate(14deg); }
  99% {
    -moz-transform: rotate(0deg); } }
@keyframes fillOpacity1 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  50% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@-webkit-keyframes fillOpacity1 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  50% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@-moz-keyframes fillOpacity1 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  50% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@keyframes fillOpacity2 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  25% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@-webkit-keyframes fillOpacity2 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  25% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@-moz-keyframes fillOpacity2 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  25% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@keyframes fillOpacity3 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  67% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@-webkit-keyframes fillOpacity3 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  67% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@-moz-keyframes fillOpacity3 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  67% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@keyframes rocektMove {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(20px); } }
@-webkit-keyframes rocektMove {
  0% {
    -webkit-transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(20px); } }
@-moz-keyframes rocektMove {
  0% {
    -moz-transform: translateY(0px); }
  100% {
    -moz-transform: translateY(20px); } }
/* Animated objects */
.fire {
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*transform-origin*/
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /*animation-direction*/
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -ms-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal; }

#rocket.clicked #fire-left, #rocket2.clicked #fire-left {
  /*animation-delay*/
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  /*animation-name*/
  -webkit-animation-name: fireLeft, fillOpacity1;
  -moz-animation-name: fireLeft, fillOpacity1;
  -ms-animation-name: fireLeft, fillOpacity1;
  -o-animation-name: fireLeft, fillOpacity1;
  animation-name: fireLeft, fillOpacity1;
  /*animation-duration*/
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  animation-duration: 1.2s; }

#rocket.clicked #fire-middle, #rocket2.clicked #fire-middle {
  /*animation-delay*/
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  /*animation-name*/
  -webkit-animation-name: fireMiddle, fillOpacity1;
  -moz-animation-name: fireMiddle, fillOpacity1;
  -ms-animation-name: fireMiddle, fillOpacity1;
  -o-animation-name: fireMiddle, fillOpacity1;
  animation-name: fireMiddle, fillOpacity1;
  /*animation-duration*/
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

#rocket.clicked #fire-right, #rocket2.clicked #fire-right {
  /*animation-delay*/
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  /*animation-name*/
  -webkit-animation-name: fireRight, fillOpacity1;
  -moz-animation-name: fireRight, fillOpacity1;
  -ms-animation-name: fireRight, fillOpacity1;
  -o-animation-name: fireRight, fillOpacity1;
  animation-name: fireRight, fillOpacity1;
  /*animation-duration*/
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  animation-duration: 1.3s; }

#rocket.clicked #fire-small-left, #rocket.clicked #fire-small-left {
  /*animation-delay*/
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  /*animation-name*/
  -webkit-animation-name: fireSmall, fillOpacity2;
  -moz-animation-name: fireSmall, fillOpacity2;
  -ms-animation-name: fireSmall, fillOpacity2;
  -o-animation-name: fireSmall, fillOpacity2;
  animation-name: fireSmall, fillOpacity2;
  /*animation-duration*/
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  animation-duration: 1.3s;
  /*transform-origin*/
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom; }

#rocket.clicked #fire-small-right, #rocket2.clicked #fire-small-right {
  /*animation-delay*/
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  /*animation-name*/
  -webkit-animation-name: fireSmall, fillOpacity3;
  -moz-animation-name: fireSmall, fillOpacity3;
  -ms-animation-name: fireSmall, fillOpacity3;
  -o-animation-name: fireSmall, fillOpacity3;
  animation-name: fireSmall, fillOpacity3;
  /*animation-duration*/
  -webkit-animation-duration: 1.6s;
  -moz-animation-duration: 1.6s;
  -ms-animation-duration: 1.6s;
  -o-animation-duration: 1.6s;
  animation-duration: 1.6s;
  /*transform-origin*/
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom; }

/*****************************************/
html, body {
  height: 100%; }

body {
  background: #000;
  perspective: 340px; }

.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  box-shadow: 1266px 396px #e6e6e6, 1077px 370px #d4d4d4, 1469px 211px #e3e3e3, 1433px 302px #ebebeb, -178px -10px #c2c2c2, -403px -414px #dbdbdb, -1328px 236px white, -1075px -462px #f2f2f2, 1315px 49px #f2f2f2, 1423px -468px #f7f7f7, -228px 385px #e3e3e3, 1203px -99px #e8e8e8, -1219px -430px #cfcfcf, 972px 401px #e6e6e6, 1049px 249px #fcfcfc, -1322px -340px #dedede, 20px 142px #d9d9d9, -1046px -207px #f2f2f2, 213px -295px #e6e6e6, 360px -198px #c2c2c2, -882px -53px #e6e6e6, 1049px -357px #c2c2c2, -352px -215px #ededed, -1497px -279px white, 1442px -434px #f0f0f0, 539px 35px #e6e6e6, -1147px -178px #d6d6d6, -643px 79px #fafafa, -706px 67px #c9c9c9, 517px -340px #c9c9c9, -548px 308px #e6e6e6, 411px 189px #dbdbdb, 172px 216px #ebebeb, 352px 285px #ededed, 423px -127px #c4c4c4, -224px -467px #f0f0f0, -647px 26px #d6d6d6, -1210px 375px #c9c9c9, 415px -241px #d6d6d6, 1010px 122px #c2c2c2, 402px -183px #f0f0f0, 1411px 19px #ebebeb, -173px 142px #e0e0e0, 498px 173px #f7f7f7, -650px 418px #e8e8e8, -559px -391px #c9c9c9, -638px 359px whitesmoke, 325px -253px #e8e8e8, 552px -384px #fafafa, -737px 33px #cfcfcf, 201px 161px #e0e0e0, 706px -380px #cfcfcf, 1369px -355px #dbdbdb, -1341px 250px #d4d4d4, -165px -193px #ebebeb, -773px -332px #dbdbdb, 409px 385px #c2c2c2, 1368px -282px #d6d6d6, -645px 351px white, -1028px 480px #d1d1d1, -1195px 105px #f2f2f2, 1124px -292px #fafafa, 672px -183px #e6e6e6, -1019px -209px #d6d6d6, -1137px -306px #f2f2f2, -1245px -136px #fafafa, 365px -407px white, -1423px 83px #ebebeb, 564px 263px #fcfcfc, 847px -315px #c7c7c7, -1059px -87px #c2c2c2, 945px -435px whitesmoke, -1298px 101px #ebebeb, -1427px -352px #dbdbdb, 182px -93px #dedede, -1191px -29px #fafafa, 701px 435px #c7c7c7, 1097px -387px #c9c9c9, 12px 448px #fafafa, -108px 127px #e3e3e3, -831px 21px #f7f7f7, 135px 233px #dedede, 354px -304px #e0e0e0, 428px 399px #e8e8e8, -248px -385px whitesmoke, -565px 320px #e3e3e3, 857px 425px #c7c7c7, 490px -374px #cfcfcf, -1434px 416px #f7f7f7, 1127px -416px #d1d1d1, -1040px -46px white, -962px 152px #e6e6e6, -891px -158px #e6e6e6, -481px 74px #c7c7c7, -670px -247px #ebebeb, -1142px 315px #dbdbdb, 318px -51px #f0f0f0, 1413px 283px #c9c9c9, 1217px 9px #fafafa, -923px -135px #e8e8e8, -1122px 421px #dedede, 1368px -295px #d1d1d1, 261px 371px #d9d9d9, 773px 429px #fcfcfc, 19px -80px #ebebeb, -47px 433px #cccccc, -355px -36px whitesmoke, 164px 439px #cccccc, -151px -373px #ebebeb, 345px -201px #ededed, 1461px 23px #fcfcfc, -307px -466px #d6d6d6, -604px 65px #d9d9d9, -1120px 416px #e6e6e6, -857px -379px #c7c7c7, 1248px -296px #c2c2c2, -22px 243px #dbdbdb, -306px 448px #c7c7c7, 785px -74px #c7c7c7, 666px -74px #cccccc, 1309px 241px #c9c9c9, -937px -426px #dedede, -919px 261px #cccccc, 1039px 436px #d6d6d6, 327px -398px #fafafa, 803px 72px #cccccc, 696px 110px #d6d6d6, -938px -425px #f0f0f0, -105px -41px #ededed, 267px -324px #e0e0e0, -51px 364px #cfcfcf, 1320px 169px #f2f2f2, -1338px 459px #cfcfcf, -1114px 113px #f7f7f7, -480px 47px #c7c7c7, -563px 344px #e0e0e0, -913px -428px #c9c9c9, 494px -470px #c9c9c9, 833px -67px whitesmoke, 389px -366px #dedede, 1293px 449px #d9d9d9, 139px -185px #d4d4d4, 738px 396px #dedede, 423px 269px #d1d1d1, -534px 419px #e6e6e6, 1109px 259px white, -495px 353px #f0f0f0, 101px -460px #e8e8e8, 898px -277px #d9d9d9, -40px -399px #c2c2c2, 398px -124px #c7c7c7, -808px -18px #e0e0e0, 447px 313px #e0e0e0, 413px 135px #ebebeb, -11px 199px #c4c4c4, 412px 457px #d6d6d6, 903px 101px #f7f7f7, -1203px 395px #d1d1d1, -1230px 396px #dbdbdb, -494px -396px #cfcfcf, 759px 291px #c4c4c4, 73px -350px #e0e0e0, 713px 79px #d4d4d4, -1302px -293px #f2f2f2, -1332px 480px #ededed, 85px 16px #f7f7f7, 964px 425px #fcfcfc, 1133px 45px #fcfcfc, -688px 27px #d1d1d1, 774px 434px #d1d1d1, -370px 148px #c4c4c4, -124px -92px whitesmoke, -1384px -176px #e8e8e8, 477px 319px #dedede, 159px -391px #e6e6e6, -1179px 195px #dbdbdb, -312px -83px #c9c9c9, 429px 431px #ededed, 395px 99px #d6d6d6, 1301px -154px #fcfcfc, -1454px -121px #e3e3e3, 45px 232px #f7f7f7, 1019px -188px #f7f7f7, -710px 115px #f7f7f7, 733px 338px #fcfcfc, 1348px -34px white, -680px -342px #cccccc, 229px 431px #d6d6d6, -1227px -359px #c9c9c9, 41px 247px #e0e0e0, 1289px -307px #d1d1d1, 1333px 390px white, 131px -368px #ebebeb, 926px 180px #cfcfcf, 1439px 246px #d6d6d6, 903px -65px #d6d6d6, 959px 395px #cccccc, -725px 377px #dedede, -721px 31px #e3e3e3, 187px -175px #dedede, 393px 196px #c2c2c2, 712px -27px #e8e8e8, -156px -12px #d9d9d9, 965px 436px #d9d9d9, 543px -314px #dedede, 325px 151px #d6d6d6, -437px -355px #d1d1d1, -639px -56px #dbdbdb, 1264px 162px #e6e6e6, 1175px -150px #d6d6d6, -549px 391px #f0f0f0, -1047px -375px #e3e3e3, 807px -318px #d1d1d1, 627px -323px #f2f2f2, -859px -213px #d1d1d1, 1157px -246px #e6e6e6, 1179px -351px #d1d1d1, -1286px -341px #cccccc, 1361px -308px #e3e3e3, 1459px 157px #c4c4c4, 1432px 265px #e0e0e0, -1024px -143px #d9d9d9, 1059px 93px #d1d1d1, -10px -329px #e6e6e6, -82px -79px #dedede, 788px -4px #f0f0f0, -1471px -33px #e3e3e3, 1008px 409px #fafafa, -920px 167px #d6d6d6, -135px -175px #dedede, -196px 480px #ededed, -312px 381px #f7f7f7, 77px -28px whitesmoke, -509px -393px #e8e8e8, -1358px 304px #c9c9c9, 873px 365px #e0e0e0, 933px -452px #d6d6d6, -750px 461px #d9d9d9, 949px 460px #c7c7c7, 1460px -136px #e0e0e0, -251px -39px #ebebeb, -1087px -133px #e3e3e3, 383px -92px white, 1267px -249px #e8e8e8, -208px -320px white, 840px 18px #c7c7c7, 141px 233px whitesmoke, -952px -19px #f2f2f2, 1064px -287px #d9d9d9, -382px 441px #f7f7f7, -399px 60px #c4c4c4, 1300px -96px #d6d6d6, -1436px 398px #c7c7c7, -556px 145px #e8e8e8, 380px 170px #f2f2f2, 944px -188px #dbdbdb, -1429px 428px #d9d9d9, -1262px -189px #dedede, -1190px -5px #cfcfcf, 229px 18px #f2f2f2, 509px -465px #ebebeb, -715px 74px #e8e8e8, 640px -256px #fcfcfc, -932px -457px #cfcfcf, -313px 33px #dbdbdb, 1349px 356px #ededed, 968px -420px #ebebeb, 1111px 334px #d9d9d9, -452px 432px #d4d4d4, -658px -464px #c2c2c2, 372px -453px #e3e3e3, 147px -459px whitesmoke, 450px -201px whitesmoke, 331px 56px #f7f7f7, -792px 143px #cccccc, -1359px -234px #c2c2c2, -777px 443px #f7f7f7, 806px -270px #f2f2f2, -242px 384px #fafafa, -791px 329px #e3e3e3, -1499px -153px #f7f7f7, -1079px 62px #c4c4c4, -1289px -393px #d4d4d4, -162px -341px #d6d6d6, 693px 16px #dbdbdb, 344px 79px #ededed, 620px -75px #c7c7c7, 58px 381px #c7c7c7, 1210px 57px #c2c2c2, 1179px 5px #dbdbdb, 378px -236px #ebebeb, 461px 86px #fcfcfc, 1032px 265px #d6d6d6, 170px -237px #cfcfcf, -1290px 299px #c2c2c2, -763px -167px #dbdbdb, 1375px -267px #f7f7f7, -1085px -318px #d6d6d6, 423px 88px white, 684px -20px #d6d6d6, -91px 54px #d1d1d1, 1252px 101px #dedede, 156px 18px #e3e3e3, -1102px -233px #c9c9c9, -513px -382px white, 864px -325px #f7f7f7, 630px 65px #c4c4c4, -619px -111px #c4c4c4, 1007px 111px #d6d6d6, -984px -396px #c2c2c2, -533px -290px #c4c4c4, 591px -93px #cfcfcf, -1175px -293px #d4d4d4, -1438px 279px whitesmoke, 1103px 55px #e6e6e6, 1483px -120px #e6e6e6, -150px 37px #c9c9c9, 993px 40px #d4d4d4, 1072px -267px #c9c9c9, -1049px -420px #ebebeb, 1373px -410px #f0f0f0, 1479px 205px #f7f7f7, -1019px 225px #ededed, -1264px -232px #d1d1d1, -259px 409px #d9d9d9, -1267px 152px #c2c2c2, -265px 185px #c9c9c9, -1094px -367px #f0f0f0, -271px 333px #c2c2c2, -932px 424px #c7c7c7, 1042px 218px #e6e6e6, -606px 96px #c7c7c7, 1336px 118px #e0e0e0, 1431px -212px #c4c4c4, -1074px 48px #fafafa, 924px -284px #cfcfcf, -85px -59px #e0e0e0, -1242px -31px #ededed, -1023px -90px #ededed, 1221px 378px #c9c9c9, -1331px -68px #e6e6e6, -202px -62px #fcfcfc, -1451px -109px #d4d4d4, 1336px -270px #e3e3e3, 1061px 105px #c7c7c7, 371px 112px #f0f0f0, -161px -446px #d6d6d6, -775px -51px #e3e3e3, 155px 108px #f2f2f2, -653px -174px #cccccc, -332px 136px #e6e6e6;
  animation: fly 3s linear infinite;
  transform-style: preserve-3d; }
  .stars:before, .stars:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    box-shadow: inherit; }
  .stars:before {
    transform: translateZ(-300px);
    animation: fade1 3s linear infinite; }
  .stars:after {
    transform: translateZ(-600px);
    animation: fade2 3s linear infinite; }

@keyframes fly {
  from {
    transform: translateZ(0px); }
  to {
    transform: translateZ(300px); } }
@keyframes fade1 {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }
@keyframes fade2 {
  from {
    opacity: 0; }
  to {
    opacity: .5; } }

/*# sourceMappingURL=styles.css.map */
